-
    var catalogMain = [
        {
            type: 'big',
            img: '/img/catalog-main/appliances.png',
            title: 'Малая бытовая техника'
        },
        {
            type: 'middle',
            img: '/img/catalog-main/quadcopters.png',
            title: 'Квадрокоптеры'
        },
        {
            img: '/img/catalog-main/smartphones.png',
            title: 'Смартфоны'
        },
        {
            img: '/img/catalog-main/headphones.png',
            title: 'Наушники'
        },
        {
            img: '/img/catalog-main/photo-and-video.png',
            title: 'Фото и видео'
        },
    ]