.slider-main {
  display: flex;
  align-items: center;

  @include md-block {
    margin-top: 5px;
  }

  &__item {
    display: none;
    width: 100%;
    position: relative;
    padding: 24px 25px 25px 30px;
    box-sizing: border-box;
    max-height: 169px;
    height: 100%;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include md-block {
      padding: 10px 0 20px;
      max-height: 247px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #06183C;
      opacity: 0.3;
      z-index: -1;
    }

    &:first-child {
      display: block;
    }

    &-inner {
      @include row-flex(false);
    }

    &-text {
      @include col(false);
      @include size-lg(6);
      @include shift-lg-left(2);
      @include size-sm(7);
      @include shift-sm-left(1);
      @include size(6, false);
    }

    &-left {
      @include col(false);
      @include size-sm(4);
      @include size(6, false);
    }

    &-pic {
      max-width: 122px;
      width: 100%;
      height: 122px;
      margin-left: auto;

      @include md-block {
        margin-right: auto;
        margin-left: 0;
        max-width: 100%;
        width: 216px;
        height: 216px;
      }

      & img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-title {
      font-weight: 800;
      font-size: 16px;
      line-height: 22px;
      color: #fff;
      margin-bottom: 10px;
      max-width: 550px;
      max-height: 90px;
      overflow: hidden;

      @include sm-block {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 6px;
      }

      @include md-block {
        font-size: 36px;
        line-height: 45px;
      }

      @include xl-block {
        font-size: 40px;
        line-height: 54px;
        max-height: 105px;
      }
    }

    &-desc {
      display: none;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #fff;
      margin-bottom: 17px;
      max-width: 450px;
      max-height: 44px;
      overflow: hidden;

      @include md-block {
        display: block;
      }
    }

    &-more {
      display: inline-block;
      padding: 6px 10px;
      background: #fff;
      box-sizing: border-box;
      font-weight: bold;
      font-size: 10px;
      line-height: 14px;
      text-transform: uppercase;
      color: #0FA0D9;
      text-decoration: none;

      @include md-block {
        padding: 12px 35px;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  & .slick-dots {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    list-style-type: none;
    display: inline-flex;

    &-wrap {
      position: absolute;
      left: auto;
      right: 58px;
      top: auto;
      bottom: 9px;
      margin: auto;
      text-align: center;
    }

    & li {
      background-color: #fff;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      box-sizing: border-box;
      margin-right: 10px;
      @include transition(.3s);
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &.slick-active {
        background-color: #0FA0D9;
      }
    }

    & button {
      display: none;
    }
  }

  & .slider-button {

    &.next {
      @include to($break_md) {
        right: 0;
      }
    }

    &.prev {
      @include to($break_md) {
        left: 0;
      }
    }
  }
}