-
    var slider = [
        {
        	bg: 'img/slider/bg-sony.png',
            title: 'Новые возможности SONY&nbsp;PS 4 PRO',
            desc: 'Последняя версия PS4: быстрее, мощнее, поддерживает игры в 4K',
            img: 'img/slider/sony.png'
        },
        {
            bg: 'img/slider/bg-sony.png',
            title: 'Новые возможности SONY&nbsp;PS 4 PRO 222',
            desc: 'Последняя версия PS4: быстрее, мощнее, поддерживает игры в 4K 222',
            img: 'img/slider/sony.png'
        }
    ]