.news {
  position: relative;
  margin-bottom: 30px;

  @include md-block {
    margin-bottom: 60px;
  }

  &__list {
    @include row-flex();
  }

  &__group {
    @include col();
    @include size(6);
    margin-bottom: -30px;
    padding-bottom: 30px;

    &-inner {
      @include row-flex();
    }

  }

  &__item {
    @include col();
    @include size(3);
    background: #fff;
    box-shadow: 1px 1px 2px rgba(34, 46, 98, 0.132);
    text-decoration: none;
    height: 347px;
    margin-bottom: 15px;
    @include transition();

    &:hover {
      box-shadow: 0 4px 40px rgba(34, 46, 98, 0.132);
    }

    @include md-block {
      height: 397px;
      margin-bottom: 30px;
    }

    &.giant {
      @include md-block {
        @include col();
        @include size(6);
        height: 824px;
      }
    }

    &.half {
     @include md-block {
       @include col();
       @include size(6);
     }
    }

    &.big {
      @include md-block {
       @include col();
       @include size(5);
      }
    }

    &.middle {
      @include md-block {
        @include col();
        @include size(4);
      }
    }
  }

  &__group &__item {
    @include u-size(3, 6, $offset);
  }

  &__img {
    width: 100%;
    height: 274px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include md-block {
      height: 324px;
    }

    .giant & {
      @include md-block {
        height: 659px;
      }
    }

    & img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__bottom {
    position: relative;
    padding: 14px 45px 19px 20px;

    .giant & {
      @include md-block {
        padding: 35px 70px 34px 45px;
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: auto;
      top: 0;
      bottom: 0;
      right: 20px;
      width: 22px;
      height: 10px;
      margin: auto;
      background: url(icon-arrow-right-mini(0E398C)) no-repeat center;
      background-size: cover;
    }

    .giant &:before {
      @include md-block {
        right: 32px;
        width: 38px;
        height: 18px;
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #474747;
    margin-bottom: 3px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;

    .giant & {
      @include md-block {
        font-size: 25px;
        line-height: 34px;
        margin-bottom: 15px;
      }
    }
  }

  &__desc {
    font-size: 14px;
    line-height: 19px;
    color: #474747;
    margin-bottom: 9px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: none;

    @include md-block {
      display: block;
    }
  }

  &__date {
    font-size: 12px;
    line-height: 16px;
    color: #474747;
  }

  &__tags {
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    color: #009ED9;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;

    & span {
      margin-right: 3px;
    }
  }

  &__category {
    position: absolute;
    top: -40px;
    right: 0;


    &-open {
      position: relative;
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
      color: #474747;
      padding-right: 27px;
      text-decoration: none;

      &:before {
        content: '';
        position: absolute;
        right: 0;
        left: auto;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #474747;
        @include transition(.5s, linear, all);
      }

      .active &:before {
        @include rotate();
      }
    }

    &-list {
      position: absolute;
      top: 40px;
      right: 0;
      list-style: none;
      padding: 7px 24px;
      box-sizing: border-box;
      width: 234px;
      background: #fff;
      box-shadow: 0 4px 59px rgba(34, 46, 98, 0.132);
      z-index: 10;
      visibility: hidden;
      opacity: 0;
      transform: translateY(10px);
      @include transition(.5s, linear, all);

      .active & {
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
      }
    }

    &-item {
      border-bottom: 1px solid #F4F4F4;
      box-sizing: border-box;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }

      & a {
        display: block;
        font-size: 14px;
        line-height: 47px;
        color: #474747;
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        @include transition(.5s, ease-in-out, all);

        &:hover {
          color: #0E398C;
        }
      }
    }

  }
}