include ../../components/logo/logo

header.header
    .container 
        .header__top
            include ../../components/location/location
            ul.submenu
                li
                    a(href='#') Новости
                li
                    a(href='#') Блог
                li
                    a(href='#') Контакты
            .header__action-list
                a(href='#').header__action.compare-link
                a(href='#').header__action.favorite-link
                .header__auth.auth
                    a(href='#').auth-link Вход
                    a(href='#').auth-link Регистрация
        .header__middle
            +logo()
            .header__search
                include ../../components/search/search
            .header__contanct
                a(href='tel:83833755505').phone-city
                    span 8 (383)
                    |
                    |375-55-05
                a(href='tel:+79231455505').phone-social
                    span + 7 (923) 145-55-05
    include ../../components/menu/menu
    include ../../components/mobile-menu/mobile-menu



