.menu {
  background: linear-gradient(90deg, #060F3C 0%, #0D398C 100%);

  &__inner {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 55px;
  }

  &__list {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
  }

  &__item {
    height: 100%;
    position: relative;
    box-sizing: border-box;

    &:before {
      content: '';
      position: absolute;
      height: 20px;
      width: 1px;
      background: #495E88;
      top: 0;
      bottom: 0;
      left: -0.5px;
      right: auto;
      margin: auto;
    }

    & > a {
      display: block;
      height: 100%;
      font-size: 14px;
      line-height: 19px;
      color: #fff;
      text-decoration: none;
      padding: 17px 30px;
      box-sizing: border-box;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 2010px;
      position: relative;
      z-index: 10;
    }
  }

  &__action {
    display: inline-flex;
    align-items: center;
    padding: 16px 36px 17px 40px;
    box-sizing: border-box;
    height: auto;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    background: #0FA0D9;
    text-decoration: none;
    @include transition(.5s, linear, all);

    &:hover {
      color: #fff;
    }

    & span {
      box-sizing: border-box;
      display: inline-block;
      &:first-child {
        margin-right: 9px;
      }
    }
  }

  &__basket {
    position: relative;
    @extend .icon-basket;
    margin-left: 30px;
    box-sizing: border-box;

    &:before {
      content: attr(data-quantity);
      position: absolute;
      background: #0FA0D9;
      top: -4px;
      left: 4px;
      width: 18px;
      height: 18px;
      font-weight: 600;
      font-size: 12px;
      line-height: 17px;
      color: #fff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &_catalog {
    &:hover {
      & .icon-burger {
        @include icon-burger(#0E398C)
      }
    }
    & > a {
      display: flex;
      align-items: center;
      padding: 0 30px 0 26px;
    }

    & .icon-burger {
      margin-right: 12px;
    }
  }

  &__child {
    position: absolute;
    left: 0;
    z-index: 999;
    width: 240px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    @include transition(.5s, ease-in-out, all);
    list-style: none;
    background: #fff;
    padding: 17px;
    box-sizing: border-box;
    box-shadow: 0 4.05186px 49px rgba(32, 42, 91, 0.07);

    &-item {
      position: relative;
      border-bottom: 1px solid #F4F4F4;
      box-sizing: border-box;

      &:last-child {
        border: none;
        padding-bottom: 5px;
      }

      & a {
        display: block;
        font-size: 12px;
        line-height: 14px;
        color: #474747;
        text-decoration: none;
        padding: 12px 0 12px;
        box-sizing: border-box;
        @include transition(.5s, ease-in-out, all);

        &:hover {
          color: #0E398C;
        }
      }
    }
  }

  &__item:hover {
    box-shadow: 0 4.05186px 49px rgba(32, 42, 91, 0.07);
    & > a {
      background: #fff;
      font-size: 14px;
      line-height: 19px;
      color: #0E398C;
      position: relative;
      z-index: 1000;
    }
  }

  &__item:hover > &__child,
  &__child-item:hover > &__child {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);

  }

  &__child-item:hover {
    z-index: -1;
  }

  &__child-item > &__child {
    top: -17px; // с учетом padding родителя
    left: 223px; // с учетом padding родителя
    z-index: -1;
    box-shadow: inset 4px 0 25px -7px rgba(32, 42, 91, 0.07);
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      box-shadow: 10px 0 30px rgba(32, 42, 91, 0.07);
      z-index: -1;
    }
  }

  & .has-child {
    & > a {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        @extend .icon-arrow-triangle;
        right: 0;
        left: auto;
        top: 0;
        bottom: 0;
        margin: auto;
        @include transition(.5s, ease-in-out, all);
      }
    }
    &:hover {
      & > a {
        &:before {
          background-image: url(icon-arrow-triangle('0E398C'));
        }
      }
    }
  }
}