.menu
    .container
        nav.menu__inner
            ul.menu__list
                li.menu__item.menu_catalog
                    a(href='#')
                        span.icon-burger
                        span Каталог
                li.menu__item
                    a(href='#') Смартфоны
                li.menu__item
                    a(href='#') Ноутбуки и планшеты
                li.menu__item
                    a(href='#') Фото и видео
                li.menu__item
                    a(href='#') Техника для дома
                li.menu__item
                    a(href='#') Аксессуары
            a(href='#').menu__action
                span Акции
                span.icon-present
            a(href='#' data-quantity='0').menu__basket
