.menu
    .container
        nav.menu__inner
            ul.menu__list
                li.menu__item.menu_catalog
                    a(href='#')
                        span.icon-burger
                        span Каталог
                    ul.menu__child
                        li.menu__child-item.has-child
                            a(href='#') Смартфоны
                            ul.menu__child
                                li.menu__child-item
                                    a(href='#') Apple
                                li.menu__child-item
                                    a(href='#') Xiaomi
                                li.menu__child-item
                                    a(href='#') Samsung
                                li.menu__child-item
                                    a(href='#') Huawei
                                li.menu__child-item
                                    a(href='#') Аксессуары для смартфонов
                                li.menu__child-item
                                    a(href='#') Смарт часы и браслеты
                        li.menu__child-item.has-child
                            a(href='#') Бытовая техника, дом
                            ul.menu__child
                                li.menu__child-item
                                    a(href='#') Apple
                                li.menu__child-item
                                    a(href='#') Xiaomi
                                li.menu__child-item
                                    a(href='#') Samsung
                                li.menu__child-item
                                    a(href='#') Huawei
                                li.menu__child-item
                                    a(href='#') Аксессуары для смартфонов
                                li.menu__child-item
                                    a(href='#') Смарт часы и браслеты
                        li.menu__child-item.has-child
                            a(href='#') Телевизоры и аудио
                            ul.menu__child
                                li.menu__child-item
                                    a(href='#') Apple
                                li.menu__child-item
                                    a(href='#') Xiaomi
                                li.menu__child-item
                                    a(href='#') Samsung
                                li.menu__child-item
                                    a(href='#') Huawei
                                li.menu__child-item
                                    a(href='#') Аксессуары для смартфонов
                                li.menu__child-item
                                    a(href='#') Смарт часы и браслеты
                                li.menu__child-item
                                    a(href='#') Apple
                                li.menu__child-item
                                    a(href='#') Xiaomi
                                li.menu__child-item
                                    a(href='#') Samsung
                                li.menu__child-item
                                    a(href='#') Huawei
                                li.menu__child-item
                                    a(href='#') Аксессуары для смартфонов
                                li.menu__child-item
                                    a(href='#') Смарт часы и браслеты
                        li.menu__child-item
                            a(href='#') Фото и видео
                        li.menu__child-item
                            a(href='#') Игры и развлечения
                        li.menu__child-item
                            a(href='#') Гаджеты
                        li.menu__child-item
                            a(href='#') Аксессуары
                        li.menu__child-item
                            a(href='#') Ноутбуки и планшеты
                        li.menu__child-item
                            a(href='#') Путешествия

                li.menu__item
                    a(href='#') Смартфоны
                    ul.menu__child
                        li.menu__child-item
                            a(href='#') Apple
                        li.menu__child-item
                            a(href='#') Xiaomi
                        li.menu__child-item
                            a(href='#') Samsung
                        li.menu__child-item
                            a(href='#') Huawei
                        li.menu__child-item
                            a(href='#') Аксессуары для смартфонов
                        li.menu__child-item
                            a(href='#') Смарт часы и браслеты
                li.menu__item
                    a(href='#') Ноутбуки и планшеты
                li.menu__item
                    a(href='#') Фото и видео
                li.menu__item
                    a(href='#') Техника для дома
                li.menu__item
                    a(href='#') Аксессуары
            a(href='#').menu__action
                span Акции
                span.icon-present
            a(href='#' data-quantity='0').menu__basket
