.cdek
    .cdek__logo
        img(src='img/catalog-detail/cdek.png')
    table
        tr
            th Способ доставки
            th Срок
            th Стоимость
        tr
            td(data-th='Способ доставки') До двери
            td(data-th='Срок') 2-3 дня
            td(data-th='Стоимость') 690 руб.
        tr
            td(data-th='Способ доставки') До пункта самовывоза
            td(data-th='Срок') 2-3 дня
            td(data-th='Стоимость') 530 руб.

