.cdek
    .cdek__logo
        img(src='img/catalog-detail/cdek.png')
    table
        tr
            th Способ доставки
            th Срок
            th Стоимость
        tr
            td До двери
            td 2-3 дня
            td 690 руб.
        tr
            td До пункта самовывоза
            td 2-3 дня
            td 530 руб.

