section.map
    script.
            window.mapContacts = [{
                hint: "г.Новосибирск, Красный проспект, 62",
                zoom: 17,
                location: [55.03937756965834, 82.91865999999987],
                center: [55.03937756965834, 82.91865999999987]
            }];
    #map.map__inner