-
    var slider = [
        {
            title: 'Успей купить!',
            img: 'img/slider-sidebar/slide-1.png',
            desc: 'Умные часы Suunto spartan ultra, белый',

        },
        {
            title: 'Успей купить! 2',
            img: 'img/slider-sidebar/slide-1.png',
            desc: 'Умные часы Suunto spartan ultra, белый 2',
        },
        {
            title: 'Успей купить! 3',
            img: 'img/slider-sidebar/slide-1.png',
            desc: 'Умные часы Suunto spartan ultra, белый 3',
        }
    ]