-
    var slider = [
        'img/slider-brands/panasonic.png',
        'img/slider-brands/canon.png',
        'img/slider-brands/sony.png',
        'img/slider-brands/nikon.png',
        'img/slider-brands/bosch.png',
        'img/slider-brands/nordica.png',
        'img/slider-brands/panasonic.png',
        'img/slider-brands/canon.png',
        'img/slider-brands/sony.png',
        'img/slider-brands/nikon.png',
        'img/slider-brands/bosch.png',
        'img/slider-brands/nordica.png'
    ]