.contacts {
  display: flex;
  margin-bottom: 100px;

  &__left {
    width: 400px;
    margin-right: 80px;
  }

  &__right {
    width: #{calc(100% - 480px)};
  }

  &__info {
    margin-bottom: 30px;
  }

  &__row {
    margin-bottom: 11px;
    font-size: 16px;
    line-height: 28px;
    color: #26282D;

    & a {
      text-decoration: none;
      color: #26282D;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__address,
  &__phone-city,
  &__time,
  &__mail {
    position: relative;
    padding-left: 25px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: auto;
      margin: auto;
    }
  }

  .contacts &__phone-social {
    position: relative;
    padding-left: 45px;
    color: #0D398C;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: auto;
      margin: auto;
      @extend .icon-telegram-transparent;
    }

    &:after {
      content: '';
      position: absolute;
      left: 23px;
      top: 0;
      bottom: 0;
      right: auto;
      margin: auto;
      @extend .icon-whatsapp-transparent;
    }
  }

  &__address {
    &:before {
      @include icon-placemark(474747);
    }
  }

  &__phone-city {
    margin-right: 30px;
    &:before {
      @include icon-phone(474747);
    }
  }

  &__time {

    & span {
      margin-right: 35px;
    }

    &:before {
      @include icon-time(474747);
    }
  }

  &__mail {

    & a {
      color: #0D398C;
    }

    &:before {
      @include icon-mail(0D398C);
    }
  }

  &__requisite {
    font-size: 16px;
    line-height: 20px;
    color: #474747;
    margin-bottom: 50px;

    & span {
      display: inline-block;
      box-sizing: border-box;
      margin-bottom: 20px;

      &:nth-child(odd) {
        margin-right: 20px;
      }
    }
  }

  &__form {
    position: relative;
    padding: 50px 45px 60px;
    background: #fff;
    box-shadow: 0 4px 59px rgba(34, 46, 98, 0.132);


    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      border: 40px solid transparent;
      border-top: 40px solid #0FA0D9;
      border-right: 40px solid #0FA0D9;
      z-index: 1;
    }

    &-title {
      font-family:'Ubuntu', 'OPen Sans', 'PT Sans', Verdana, Arial, sans-serif;
      font-weight: 500;
      font-size: 25px;
      line-height: 29px;
      color: #26282D;
      padding-left: 28px;
      margin-bottom: 25px;
    }
  }
}

.field {
  position: relative;
  display: block;

  &__input {
    width: 100%;
    height: 37px;
    box-sizing: border-box;
    padding: 9px 16px;
    border: none;
    background: #F7FAFF;
    margin-bottom: 16px;
  }

  &__title {
    position: absolute;
    left: 16px;
    right: auto;
    top: 9px;
    font-size: 12px;
    line-height: 21px;
    color: #999999;
    @include transition();

    .focused & {
      font-size: 10px;
      line-height: 15px;
      bottom: auto;
      top: -15px;
    }
  }

  &__required {
    display: inline-block;

    &:after {
      content: '*';
      position: relative;
      right: -3px;
      font-size: 12px;
      line-height: 21px;
      color: #b50404;
    }
  }

  &__textarea {
    border: none;
    background: #F7FAFF;
    resize: none;
    width: 100%;
    height: 143px;
    padding: 9px 16px;
    box-sizing: border-box;
  }
}