.location.js-location
    a(href='javascript:void(0)').location__link.js-location-link
        span.icon-location
        span.location__text
            | Москва
    .location__list
        a(href='javascript:void(0)').location__item
            | Новосибирск
        a(href='javascript:void(0)').location__item
            | Санкт-Петербург