extends layouts/pages
block variables
	- var title = "Pixel - Список страниц"

block content
	.container
		include ../blocks/modules/main/main
		ul
			li
				a(href="home.html") Главная
			li
				a(href="catalog.html") Каталог
			li
				a(href="news.html") Новости
			li
				a(href="blog.html") Блог
			li
				a(href="ui-kit.html") Ui-kit