section.about
    .about__img
        img(src="img/home/home-about.jpg", alt="")
    .about__info
        .about__title
            | О нас
        .about__text
            p
                | С 2010-го года работаем с Китайским рынком
                | современной техники. С 2018-го открываем новый
                | интернет магазин с выставочным залом в самом центре города
                | Новосибирск. В ассортимент добавлена линейка товаров из Европы.
            p
                | На нашем сайте представлен широкий ассортимент бытовой
                | техники, техники для красоты, телевизоры и аудио системы,
                | товары для фитнеса и здоровья, мобильные устройства и
                | аксессуары к ним. Мы знаем толк в инновационных
                | технологиях, которые смогут сделать ваш обычный быт теплым и уютным.