.mobile-menu.js-mobile-menu
    .mobile-menu__content.js-mobile-menu-content
        .mobile-menu__list.js-mobile-menu-list
            .container
                ul
                    li
                        a(href='test') Смартфоны
                    li
                        a(href='#') Фото и видео
                    li
                        a(href='#') Игры и развлечения
                    li
                        a(href='#') Гаджеты
                    li
                        a(href='#') Аксессуары
                    li
                        a(href='#') Ноутбуки и планшеты
                    li
                        a(href='#') Путешествия

    .mobile-menu__panel
        a(href='javascript:void(0)').mobile-menu__open.icon-mobile-burger.js-mobile-menu-open
        .mobile-menu__action-list
            a(href='#').mobile-menu__action.icon-mobile-search
            a(href='#').mobile-menu__action.icon-personal-area
            a(href='#').mobile-menu__action.icon-mobile-basket
