.row {
  @include row-flex();
}

.col {
  @include col();
  @include size(1);
  height: 150px;
  background-color: #00ffff;
}

.compare-link {
  display: inline-block;
  @extend .icon-compare;
}

.favorite-link {
  display: inline-block;
  @extend .icon-favorite;
}

.button {
  border: none;
  display: inline-block;
}

.button-search {
  @extend .button;
  @extend .icon-search;
  @include reset-focus();
}

.phone-city {
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 19px;
  line-height: 26px;
  color: #0E398C;
  text-decoration: none;
  padding-left: 40px;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: auto;
    margin: auto;
    @extend .icon-phone-fill;
  }
}

.phone-social {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  color: #7A8496;
  text-decoration: none;
  padding-left: 50px;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: auto;
    margin: auto;
    @extend .icon-telegram;
  }

  &:after {
    content: '';
    position: absolute;
    left: 24px;
    top: 0;
    bottom: 0;
    right: auto;
    margin: auto;
    @extend .icon-whatsapp;
  }
}

.button-arrow-right {
  @extend .icon-arrow-right;
  @include reset-focus();
  cursor: pointer;
}

.card {
  margin-top: 40px;

  &__list {
    display: flex;

  }

  &__item {
    position: relative;
    margin-right: 28px;

    &::before {
      content: '';
      position: absolute;
      color: #FFFFFF;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      border: 40px solid transparent;
      border-top: 40px solid #AD0404; 
      border-right: 40px solid #AD0404;
    }


  }

  &__img {

  }

  &__title  {
  margin-top: 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 0px;
  color: #474747;
  }

  &__old-price {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #474747;
    text-decoration:line-through;
    margin-right: 14px;
  }

  &__new-price {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #AD0404;
    margin-right: 50px;

  }

  &__bottom {
    display: flex;
    margin-top: 39px;

    &-inner {
      padding: 40px 15px 21px 19px;
    }

  }

}