.example-row {
  @include row-flex();
}

.example-row .col {
  @include col();
  @include size(1);
  height: 150px;
  background-color: #00ffff;
}

.compare-link {
  display: inline-block;
  @extend .icon-compare;
  &.active {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      background: #0FA0D9;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      right: -5px;
      bottom: 0;
    }
  }
}

.favorite-link {
  display: inline-block;
  @extend .icon-favorite;

  &.active {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      background: #0FA0D9;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      right: 0;
      bottom: 0;
    }
  }
}

.button {
  border: none;
  display: inline-block;
}

.button-search {
  @extend .button;
  @extend .icon-search;
  @include reset-focus();
}

.phone-city {
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #0E398C;
  text-decoration: none;
  padding-left: 25px;

  & span {
    display: none;
  }

  @include sm-block {
    font-size: 16px;
    line-height: 24px;

    & span {
      display: inline;
    }
  }

  @include md-block {
    font-size: 19px;
    line-height: 26px;
    padding-left: 40px;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: auto;
    margin: auto;
    @extend .icon-phone-fill;
  }
}

.phone-social {
  position: relative;
  display: inline-block;
  font-size: 0;
  color: #7A8496;
  text-decoration: none;
  padding-left: 50px;
  @include transition();

  &:hover {
    color: #0E398C;
  }

  @include sm-block {
    font-size: 14px;
    line-height: 20px;
  }

  @include md-block {
    font-size: 16px;
    line-height: 22px;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: auto;
    margin: auto;
    @extend .icon-telegram;

    @include to($break_sm) {
      background: url(icon-telegram(0E398C)) center no-repeat;
    }
  }

  &:after {
    content: '';
    position: absolute;
    left: 24px;
    top: 0;
    bottom: 0;
    right: auto;
    margin: auto;
    @extend .icon-whatsapp;

    @include to($break_sm) {
      left: 30px;
      background: url(icon-whatsapp(0E398C)) center no-repeat;
    }
  }
}

.button-arrow-right {
  @extend .icon-arrow-right;
  @include reset-focus();
  cursor: pointer;
}

.link-arrow-right {
  font-size: 14px;
  line-height: 19px;
  color: #0D398C;
  text-decoration: none;
  @extend .icon-pseudo-arrow-right;
}

.slider-button {
  position: absolute;
  width: 32px;
  height: 32px;
  z-index: 1;
  background: url(icon-arrow-triangle('fff')) no-repeat center;
  background-size: 12px 24px;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;

  &.prev {
    right: auto;
    left: 4px;
    @include rotate();
  }

  &.next {
    left: auto;
    right: 4px;
  }
}

.button-show-more {
  display: block;
  width: 100%;
  height: 57px;
  left: 675px;
  top: 2126px;
  background: #F7FAFF;
  font-size: 16px;
  line-height: 22px;
  color: #505050;
  box-sizing: border-box;
  padding: 17px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  @include transition();

  &:hover {
    background: rgba(15, 160, 217, .2);
    color: #000;
  }

  &:active {
    background: #eaedf2;
    color: #000;
  }
}