.container

    .row
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col

    .compare-link
    .favorite-link
    .button-search



    section.card
        .card__list
            a.card__item
                .card__top
                    .card__img
                        img(src='img/home/card-image.jpg')
                    .card__title
                        |Держатель-ремень для наушников, синий
                .card__bottom
                    .card__old-price 1999 ₽
                    .card__new-price 999 ₽
                    .compare-link
                    .favorite-link
            a.card__item
                .card__top
                    .card__img
                        img(src='img/home/card-image.jpg')
                    span 50%
                    .card__title
                        |Держатель-ремень для наушников, синий
                .card__bottom
                    .card__old-price 1999 ₽
                    .card__new-price 999 ₽
                    .compare-link
                    .favorite-link
            a.card__item
                .card__top
                    .card__img
                        img(src='img/home/card-image.jpg')
                    .card__title
                        |Держатель-ремень для наушников, синий
                .card__bottom
                    .card__bottom-inner
                    .card__old-price 1999 ₽
                    .card__new-price 999 ₽
                    .compare-link
                    .favorite-link