.container

    .row
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col

    .compare-link
    .favorite-link
    .button-search





    section.catalog-card
        .catalog-card__list
            .catalog-card__item
                .catalog-card__img
                    a(href="")
                        img(src="img/catalog__img1.jpg", alt="")
                .catalog-card__bottom
                    span Смартфоны
                    span 977
            .catalog-card__item
                .catalog-card__img
                    a(href="")
                        img(src="img/catalog__img2.jpg", alt="")
                .catalog-card__bottom
                    span Бытовая техника, дом
                    span 98
            .catalog-card__item
                .catalog-card__img
                    a(href="")
                        img(src="img/catalog__img3.jpg", alt="")
                .catalog-card__bottom
                    span Телевизоры и аудио
                    span 176
            .catalog-card__item
                .catalog-card__img
                    a(href="")
                        img(src="img/catalog__img4.jpg", alt="")
                .catalog-card__bottom
                    span Фото и видео
                    span 257
            .catalog-card__item
                .catalog-card__img
                    a(href="")
                        img(src="img/catalog__img5.jpg", alt="")
                .catalog-card__bottom
                    span Гаджеты
                    span 4
            .catalog-card__item
                .catalog-card__img
                    a(href="")
                        img(src="img/catalog__img6.jpg", alt="")
                .catalog-card__bottom
                    span Игры и развлечения
                    span 13
            .catalog-card__item
                .catalog-card__img
                    a(href="")
                        img(src="img/catalog__img7.jpg", alt="")
                .catalog-card__bottom
                    span Фитнес и здоровье
                    span 53
            .catalog-card__item
                .catalog-card__img
                    a(href="")
                        img(src="img/catalog__img8.jpg", alt="")
                .catalog-card__bottom
                    span Аксессуары
                    span 15
            .catalog-card__item
                .catalog-card__img
                    a(href="")
                        img(src="img/catalog__img9.jpg", alt="")
                .catalog-card__bottom
                    span Квадрокоптеры
                    span 30
            .catalog-card__item
                .catalog-card__img
                    a(href="")
                        img(src="img/catalog__img10.jpg", alt="")
                .catalog-card__bottom
                    span Путешествия
                    span 54
            .catalog-card__item
                .catalog-card__img
                    a(href="")
                        img(src="img/catalog__img11.jpg", alt="")
                .catalog-card__bottom
                    span Ноутбуки и плашеты
                    span 115


    section.news-card
        .news-card__list
            .news-card__item-big
                .catalog-card__img
                    a(href="")
                        img(src="img/news/news__img1.jpg", alt="")
                .news-card__bottom
                    .news-card__title
                        | Поступление электрогрилей
                    .news-card__text
                        | Готовить вкусно и быстро, это возможно!
                    .news-card__date
                        | 19.04.2019
            .news-card__item-small
                .catalog-card__img
                    a(href="")
                        img(src="img/news/news__img2.jpg", alt="")
                .news-card__bottom-small
                    .news-card__title-small
                        | Поступление Xiaomi
                    .news-card__date
                        | 19.04.2019
            .news-card__item-small
                .catalog-card__img
                    a(href="")
                        img(src="img/news/news__img3.jpg", alt="")
                .news-card__bottom-small
                    .news-card__title-small
                        | Поступление детских  часов с GPS
                    .news-card__date
                        | 19.04.2019
            .news-card__item-small
                .catalog-card__img
                    a(href="")
                        img(src="img/news/news__img2.jpg", alt="")
                .news-card__bottom-small
                    .news-card__title-small
                        | Поступление Xiaomi
                    .news-card__date
                        | 19.04.2019
            .news-card__item-small
                .catalog-card__img
                    a(href="")
                        img(src="img/news/news__img3.jpg", alt="")
                .news-card__bottom-small
                    .news-card__title-small
                        | Поступление детских  часов с GPS
                    .news-card__date
                        | 19.04.2019