.container

    .example-row
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col

    .compare-link
    .favorite-link
    .button-search