.container

    .example-row
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col

    .compare-link
    .favorite-link
    .button-search




    .hint-new
        .hint-new__message
            | Lorem ipsum dolor sit amet, consectetur
            | adipiscing elit. Nunc aenean non nunc aenean ornare 
            | luctus commodo sit vitae. Tincidunt nec ultrices elit 
            | arcu, diam velit dictum tellus. Justo, volutpat posuere
            | sed posuere diam nunc ullamcorper quam.



