.container

    .row
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col

    .compare-link
    .favorite-link
    .button-search



    section.news-card
        .news-card__list
            .news-card__item-big
                .catalog-card__img
                    a(href="")
                        img(src="img/news/news__img1.jpg", alt="")
                .news-card__bottom
                    .news-card__title
                        | Поступление электрогрилей
                    .news-card__text
                        | Готовить вкусно и быстро, это возможно!
                    .news-card__date
                        | 19.04.2019
            .news-card__item-small
                .catalog-card__img
                    a(href="")
                        img(src="img/news/news__img2.jpg", alt="")
                .news-card__bottom-small
                    .news-card__title-small
                        | Поступление Xiaomi
                    .news-card__date
                        | 19.04.2019
            .news-card__item-small
                .catalog-card__img
                    a(href="")
                        img(src="img/news/news__img3.jpg", alt="")
                .news-card__bottom-small
                    .news-card__title-small
                        | Поступление детских  часов с GPS
                    .news-card__date
                        | 19.04.2019
            .news-card__item-small
                .catalog-card__img
                    a(href="")
                        img(src="img/news/news__img2.jpg", alt="")
                .news-card__bottom-small
                    .news-card__title-small
                        | Поступление Xiaomi
                    .news-card__date
                        | 19.04.2019
            .news-card__item-small
                .catalog-card__img
                    a(href="")
                        img(src="img/news/news__img3.jpg", alt="")
                .news-card__bottom-small
                    .news-card__title-small
                        | Поступление детских  часов с GPS
                    .news-card__date
                        | 19.04.2019