.container

    .example-row
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col
        .col

    .compare-link
    .favorite-link
    .button-search




    section.result
        .search__result
            .search__result-inner
                .search__result-item
                    .search__result-content
                        .search__result
