.product {
  position: relative;
  @include col(false);
  @include size(12, false);
  background: #fff;
  box-shadow: 0 0 3px rgba(34, 46, 98, 0.132);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 250px;

  @include md-block {
    height: 212px;
  }

  .cards &  {
    @include u-size(9, 9, $offset, false);
    display: block;
    height: 400px;
    margin-bottom: 12px;
    @include transition(.3s,ease-in-out, box-shadow);
    &:hover {
      box-shadow: 0 4px 59px rgba(34, 46, 98, 0.132);
    }

    @include sm-block {
      margin-bottom: 28px;
      @include u-size(4.5, 9, $offset, false);
    }

    @include md-block {
      @include u-size(3, 9, $offset, false);
    }
  }

  .text & {
    padding: 15px 20px;
    height: auto;
    box-shadow: none;
    border-top: 1px solid #f0f0f0;

    &:first-child {
      border-top: 0;
    }
    flex-wrap: wrap;
    @include md-block {
      flex-wrap: nowrap;
    }
  }

  &__list {
    @include row-flex(false);
    padding: 15px 0;
  }

  &__middle {
    padding: 19px 20px 23px 24px;
    min-height: 90px;
    box-sizing: border-box;
    align-self: flex-start;
    width: #{calc(100% - 157px - 150px)};
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

    .cards & {
      display: block;
      width: 100%;
      height: auto;
      padding: 15px 19px 9px;
    }

    .text & {
      height: auto;
      min-height: auto;
      padding: 0;
      width: 100%;
      @include md-block {
        width: 65%;

      }
    }
  }

  &__article {
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 6px;

    .cards & {
      display: none;
    }

    .text & {
      display: none;
    }
  }

  &__img {
    max-width: 157px;
    max-height: 157px;
    padding-left: 4px;

    .cards & {
      max-width: 100%;
      max-height: 100%;
      width: 100%;
      height: 263px;
      text-align: center;
      padding-left: 0;
    }

    .text & {
      display: none;
    }

    & > a {
      text-decoration: none;
      width: 100%;
      height: 100%;
    }

    & img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__title  {
    display: block;
    font-style: normal;
    color: #474747;
    text-decoration: none;
    margin-bottom: 9px;
    max-height: 40px;
    overflow: hidden;
    font-family:'Ubuntu', 'OPen Sans', 'PT Sans', Verdana, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;

    .cards & {
      font-weight: normal;
      font-size: 14px;
      line-height: 1.5;
    }

    .text & {
      max-height: 39px;
      width: 100%;
      @include sm-block {
        width: auto;
      }
    }
  }

  &__option {
    font-size: 12px;
    line-height: 16px;
    color: #474747;
    margin-bottom: 3px;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(n + 5) {
      display: none;
    }

    &-list {
      margin-top: 20px;
      list-style: none;

      .cards & {
        display: none;
      }

      .text & {
        display: none;
      }
    }
  }

  &__mark {
    margin-right: 15px;
    font-size: 14px;
    line-height: 19px;
    color: #0D398C;

    &-list {
      display: flex;
      align-items: center;
      min-height: 19px;
    }

    &-new,
    &-hit {
      text-align: center;
      font-size: 12px;
      line-height: 16px;
      box-sizing: border-box;
      text-transform: uppercase;
    }

    &-new {
      color: #0FA0D9;
      border: 1px solid #0FA0D9;
      padding: 0 3px;
    }

    &-hit {
      color: #AD0404;
      border: 1px solid #AD0404;
      padding: 0 4px;
    }

    &-discount {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 0;
      padding-top: 8px;
      padding-right: 6px;
      color: #fff;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      z-index: 1;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        border: 40px solid transparent;
        border-top: 40px solid #AD0404;
        border-right: 40px solid #AD0404;
        z-index: -1;
      }

      .cards & {
        display: block;
      }
    }
  }

  &__price {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color:  #202020;
    text-align: right;

    .cards & {
      width: 60%;
      text-align: left;
      color: #474747;
      font-size: 16px;
      line-height: 20px;

      @include xl-block {
        width: 70%;
        font-size: 20px;
        line-height: 23px;
      }

      & span {
        margin-top: 0;
        width: auto;
        display: inline-block;
      }
    }

    .text & {
      margin-right: 30px;
      display: flex;
      align-items: center;
      & span {
        margin-top: 0;
        width: auto;
        display: inline-block;
      }
    }

    & span {
      margin-top: 20px;
      width: 100%;
      display: block;
    }

    .product &-old {
      position: relative;
      font-size: 12px;
      line-height: 14px;
      color: #000;
      margin-right: 10px;
      margin-top: 0;

      .cards & {
        color: #474747;

        &:before {
          background-color: #474747;
        }
      }

      &:before {
        content: '';
        position: absolute;
        width: 24px;
        height: 1px;
        background-color: #000;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        @include rotate(-45deg)
      }

      & ~ span {
        margin-top: 0;
        color: #AD0404;
      }
    }
  }

  .product &__not-available {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: #000;
    margin-bottom: 3px;
    margin-top: 0;
    margin-right: 14px;

    & ~ span {
      margin-top: 0;
      color: #9F9F9F;

      .cards & {
        display: none;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .cards & {
      width: 40%;

      @include xl-block {
        width: 30%;
      }
    }
  }

  &__down {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .text & {
      display: none;
    }
  }

  &__detail {
    font-size: 12px;
    line-height: 16px;
    color: #0D398C;
    padding-right: 24px;

    .cards & {
      display: none;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 19px 35px 27px 10px;
    height: 100%;
    box-sizing: border-box;

    .cards & {
      width: 100%;
      height: auto;
      flex-direction: row;
      padding: 0 19px 21px 16px;
    }

    .text & {
      height: auto;
      padding: 0;
      flex-direction: row;
      width: 100%;

      @include md-block {
        width: auto;
      }
    }
  }

  &__compare {
    width: 9px;
    height: 14px;
    background: url(icon-compare(222E62)) no-repeat center;
    background-size: contain;
  }

  &__favorite {
    margin-left: 14px;
    width: 17px;
    height: 16px;
    background: url(icon-favorite(222E62)) no-repeat center;
    background-size: contain;
  }

  &__basket {
    margin-left: 12px;
    width: 18px;
    height: 16px;
    background: url(icon-basket-mini(222E62)) no-repeat center;
    background-size: contain;
  }
}