.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  @include md-block {
    justify-content: flex-end;
  }

  &__back,
  &__next {
    display: inline-block;
    padding: 9px;
    width: 37px;
    height: 37px;
    box-sizing: border-box;
    background-size: cover;
    cursor: pointer;
    background: url(icon-arrow-triangle-mini(CACACA)) no-repeat center;
    background-size: 6px 10px;
    border-radius: 50%;
    @include rotate(0deg);
    @include transition();

    &:hover {
      background-color: #0d398b;
      background-image: url(icon-arrow-triangle-mini(fff));
    }
  }

  &__back {
    @include rotate();
  }

  & ul {
    list-style: none;
    display: inline-flex;
    margin: 20px 10px;

    & li {

      & a {
        padding: 9px;
        font-size: 14px;
        line-height: 19px;
        color: #505050;
        text-decoration: none;
        @include transition();
        border-radius: 50%;
        box-sizing: border-box;
        width: 37px;
        height: 37px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: -3px;

        &:not(.active):hover {
          color: #fff;
          background: #0d398b;
        }

        &.active {
          font-weight: bold;
          color: #0FA0D9;
        }
      }
    }
  }
}