.social {
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 30px;

  @include md-block {
    margin-top: 5px;
  }

  &__item {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
  }
}