ul.social
    li.social__item
        a(href='#' target='_blank').social__link.icon-vk
    li.social__item
        a(href='#' target='_blank').social__link.icon-in
    li.social__item
        a(href='#' target='_blank').social__link.icon-fb
    li.social__item
        a(href='#' target='_blank').social__link.icon-tw
    li.social__item
        a(href='#' target='_blank').social__link.icon-flamp
