.sidebar-block {
  margin-top: 5px;
  background: #fff;
  box-shadow: 0 0 2px rgba(34, 46, 98, 0.132);
  padding: 40px 32px 32px;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;

  @include sm-block {
    width: #{calc(50% - 20px)};
    margin-top: 27px;
  }

  &:nth-child(odd) {
    @include sm-block {
      margin-right: 30px;
    }
    @include lg-block {
      margin-right: 0;
    }
  }

  @include lg-block {
    width: 100%;
  }

  &.news {
    margin-bottom: 0;
    @include lg-block {
      margin-top: 10px;
      min-height: 384px;
    }
  }

  &.blog {
    @include lg-block {
      min-height: 397px;
    }
  }

  &__title {
    margin-bottom: 18px;
  }

  &__list {
    list-style: none;
  }

  &__item {
    border-top: 1.01296px solid #F4F4F4;
    box-sizing: border-box;
    padding: 15px 0;

    &:nth-child(n + 4) {
      display: none;
    }


    & a {
      display: block;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      color: #474747;
      text-decoration: none;
      margin-bottom: 4px;
    }

    & span {
      display: block;
      font-size: 11px;
      line-height: 15px;
      color: #474747;

    }
  }

  .sidebar-block &__all {
    font-size: 12px;
    padding-right: 23px;
  }
}