.footer {
  background: linear-gradient(90deg, #060F3C 0%, #0D398C 100%);
  padding: 10px 0 30px;
  box-sizing: border-box;

  @include md-block {
    padding: 42px 0 74px;
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    padding: 10px;
    margin: 0 -10px;
    @include md-block {
      margin: 0 0 32px 0;
    }
  }

  &__item {
   @mixin item {
     font-weight: 300;
     font-size: 14px;
     line-height: 19px;
     color: #fff;
     text-decoration: none;
   }
    @include item;
    margin-bottom: 16px;

    & > a {
      @include item;
      display: block;
    }
    & > span {
      display: block;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__inner {
    position: relative;
    @include row-flex();
    padding-bottom: 45px;
    
    @include md-block {
      padding-bottom: 0;
    }
  }

  &__info {
    @include size(12);
    @include col();
    @include size-lg(2);
    @include size-md(4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include md-block {
      margin-bottom: 15px;
    }
  }

  &__contacts {
    @include size(12);
    @include col();
    @include size-lg(3);
    @include size-md(8);

    @include md-block {
      margin-bottom: 15px;
      padding-left: 45px;

    }
  }

  &__contacts &__title,
  &__menu &__title {
    position: relative;
    border-bottom: 1px solid #133A85;
    box-sizing: border-box;
    @include transition();

    &.active {
      border-color: transparent;
      &:before {
        @include rotate();
      }
    }

    @include md-block {
      border: none;
    }

    &:before {
      content: '';
      position: absolute;
      right: 10px;
      left: auto;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 0;
      height: 0;
      background: transparent;
      border-left: 7.5px solid transparent;
      border-right: 7.5px solid transparent;
      border-top: 7px solid #fff;
      @include transition();

      @include md-block {
        content: none;
      }
    }
  }

  &__contacts &__block {
    padding-left: 35px;
    display: none;
    @include md-block {
      display: block;
      padding-left: 0;
    }
  }



  &__menu {
    @include size(12);
    @include col();
    @include size-lg(2);
    @include size-md(4);

    @include md-block {
      margin-bottom: 15px;
      padding-left: 12px;
    }
  }

  &__menu &__block {
    display: none;
    @include md-block {
      display: block;
    }
  }

  &__subscribe {
    @include size(12);
    @include col();
    @include size-lg(3);
    @include size-md(4);
    display: flex;
    flex-direction: column;

    @include md-block {
      margin-bottom: 15px;
      align-items: flex-end;
      padding-left: 55px;
    }
  }

  &__subscribe &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__menu &__item {
    margin-bottom: 12px;
  }

  &__block {
    list-style: none;
  }

  &__placemark,
  &__phone,
  &__time,
  &__mail {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: -32px;
    }
  }
  &__placemark {
    &:before {
      @include icon-placemark;
    }
  }

  &__phone {
    &:before {
      @include icon-phone;
    }
  }

  &__time {
    &:before {
      @include icon-time;
    }
  }

  &__mail {
    &:before {
      @include icon-mail;
    }
  }

  &__form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 6px;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: #fff;
      border-radius: 4px;
    }


    & input {
      width: #{calc(100% - 25px)};
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #fff;
      border: none;
      background: transparent;
      @include reset-focus();
      padding-right: 10px;

      @include placeholder {
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        color: #7D7A7A;
      }
    }

    &-wrap {

      & p {
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        color: #fff;
        margin-bottom: 20px;
      }

    }
  }

  &__copyrights {
    position: absolute;
    bottom: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 9px;
    line-height: 12px;
    color: #fff;
    margin-top: 16px;

    @include md-block {
      position: relative;
      bottom: auto;
    }
  }

  &__copy {
    margin-bottom: 12px;
  }
}