-
    var informationMenu = [
        'О компании',
        'Новости',
        'Блог',
        'Вакансии',
        'Сотрудничество',
        'Обратная связь'
    ]

    var assortmentMenu = [
    	'Каталог',
        'Акции',
        'Бренды',
        'Отзывы',
        'Оплата и доставка'
    ]