include ../utils/mixins

block variables

doctype html
html(lang="ru")
	head
		include ../includes/head
	body
		block header
			include ../../blocks/modules/header/header
		block content

		block footer
			include ../../blocks/modules/footer/footer
	include ../includes/scripts