include ../utils/mixins

block variables

doctype html
html(lang="ru")
	head
		include ../includes/head
	body
		.wrapper
			.main-content
				block header
					include ../../blocks/modules/header/header
				main.main
					block content

			block footer
				include ../../blocks/modules/footer/footer
	include ../includes/scripts