include ../utils/mixins

block variables
	include ../utils/variables

doctype html
html(lang="ru")
	head
		include ../includes/head
	body
		.wrapper
			.main-content
				block header
					include ../../blocks/modules/header/header
				main.main
					if !isMain
						.container
							include ../../blocks/components/breadcrumbs/breadcrumbs
							+breadcrumbs(breadcrumbs)
							h1.h1=title
					block content

			block footer
				include ../../blocks/modules/footer/footer
	include ../includes/scripts