-
    var breadcrumbs = [
        {
            name: 'Главная',
            link: '#'
        },
        {
            name: 'Блог',
            link: ''
        }
    ];

    var news = {
        category: [
            '#Смартфоны',
            '#Техника для дома',
            '#Инновации',
            '#Фото и видео',
            '#Квадрокоптеры',
            '#Игры и развлечения',
            '#Фитнесс и здоровье',
            '#Путешествия'
        ],
        list: [
            {
                type: 'giant',
                img: 'img/news/news__img1.jpg',
                title: 'Поступление электрогрилей',
                desc: 'Готовить вкусно и быстро, это возможно!',
                tags: [
                    '#Техника_для_дома'
                ]
            },
            {
                group: [
                    {
                        img: 'img/news/news__img2.jpg',
                        title: 'Поступление Xiaomi',
                        tags: [
                            '#Смартфоны'
                        ]
                    },
                    {
                        img: 'img/news/news__img3.jpg',
                        title: 'Поступление детский часов с GPS',
                        tags: [
                            '#Гаджеты'
                        ]
                    },
                    {
                        img: 'img/news/news__img2.jpg',
                        title: 'Поступление Xiaomi',
                        tags: [
                            '#Смартфоны'
                        ]
                    },
                    {
                        img: 'img/news/news__img3.jpg',
                        title: 'Поступление детский часов с GPS',
                        tags: [
                            '#Гаджеты'
                        ]
                    },
                ]
            },
            {
                type: 'big',
                img: 'img/news/news__img6.jpg',
                title: 'Поступление аксессуаров для Sony Playstation',
                tags: [
                    '#Игры_и_развлечения'
                ]
            },
            {
                type: 'middle',
                img: 'img/news/news__img7.jpg',
                title: 'Поступление смарфонов Samsung',
                tags: [
                    '#Смартфоны'
                ]
            },
            {
                img: 'img/news/news__img8.jpg',
                title: 'Поступление акустики JBL',
                tags: [
                    '#Гаджеты'
                ]
            },
            {
                img: 'img/news/news__img2.jpg',
                title: 'Поступление Xiaomi',
                tags: [
                    '#Смартфоны'
                ]
            },
            {
                img: 'img/news/news__img3.jpg',
                title: 'Поступление детский часов с GPS',
                tags: [
                    '#Гаджеты'
                ]
            },
            {
                type: 'half',
                img: 'img/news/news__img10.jpg',
                title: 'Поступление квадрокоптеров DJI',
                tags: [
                    '#Гаджеты'
                ]
            }
        ]
    }