-
    var breadcrumbs = [
        {
            name: 'Главная',
            link: '#'
        },
        {
            name: 'Каталог',
            link: ''
        }
    ];

    var catalogCategory = [
        {
            img: 'img/catalog-category/catalog__img1.jpg',
            title: 'Смартфоны',
            quantity: '977'
        },
        {
            img: 'img/catalog-category/catalog__img2.jpg',
            title: 'Бытовая техника, дом',
            quantity: '98'
        },
        {
            img: 'img/catalog-category/catalog__img3.jpg',
            title: 'Телевизоры и аудио',
            quantity: '176'
        },
        {
            img: 'img/catalog-category/catalog__img4.jpg',
            title: 'Фото и видео',
            quantity: '257'
        },
        {
            img: 'img/catalog-category/catalog__img5.jpg',
            title: 'Гаджеты',
            quantity: '4'
        },
        {
            img: 'img/catalog-category/catalog__img6.jpg',
            title: 'Игры и развлечения',
            quantity: '13'
        },
        {
            img: 'img/catalog-category/catalog__img7.jpg',
            title: 'Фитнес и здоровье',
            quantity: '53'
        },
        {
            img: 'img/catalog-category/catalog__img8.jpg',
            title: 'Аксессуары',
            quantity: '15'
        },
        {
            img: 'img/catalog-category/catalog__img9.jpg',
            title: 'Квадрокоптеры',
            quantity: '30'
        },
        {
            img: 'img/catalog-category/catalog__img10.jpg',
            title: 'Путешествия',
            quantity: '54'
        },
        {
            img: 'img/catalog-category/catalog__img11.jpg',
            title: 'Ноутбуки и плашеты',
            quantity: '115'
        }
    ]