-
    var breadcrumbs = [
        {
            name: 'Главная',
            link: '#'
        },
        {
            name: 'Каталог',
            link: '#'
        },
        {
            name: 'Смартфоны',
            link: '#'
        },
        {
            name: 'Apple',
            link: ''
        }
    ];

    var productList = {
        type: 'cards',
        list: [
            {
                img: 'img/home/card-image.jpg',
                article: 'Артикул: A2097',
                title: 'Держатель-ремень для наушников, синий',
                options: [
                    'Гарантия: 1 год',
                    'Тип разъема зарядки: Lightning',
                    'Версия ОС: iOs 10'
                ],
                marks: [
                    'discount',
                ],
                price: 999,
                priceOld: 1999,
                inBasket: true
            },
            {
                img: 'img/home/card-image.jpg',
                article: 'Артикул: A2097',
                title: 'Держатель-ремень для наушников, синий',
                options: [
                    'Гарантия: 1 год',
                    'Тип разъема зарядки: Lightning',
                    'Версия ОС: iOs 10'
                ],
                marks: [
                    'discount',
                ],
                price: 999,
                priceOld: 1999,
                quantity: 0,
                isFavorite: true
            },
            {
                img: 'img/home/card-image.jpg',
                article: 'Артикул: A2097',
                title: 'Держатель-ремень для наушников, синий',
                options: [
                    'Гарантия: 1 год',
                    'Тип разъема зарядки: Lightning',
                    'Версия ОС: iOs 10'
                ],
                marks: [
                    'discount',
                ],
                price: 999,
                priceOld: 1999,
                isCompare: true
            },{
                img: 'img/home/card-image.jpg',
                article: 'Артикул: A2097',
                title: 'Держатель-ремень для наушников, синий',
                options: [
                    'Гарантия: 1 год',
                    'Тип разъема зарядки: Lightning',
                    'Версия ОС: iOs 10'
                ],
                marks: [
                    'new',
                    'hit',
                    'recommend'
                ],
                price: 999
            },
            {
                img: 'img/home/card-image.jpg',
                article: 'Артикул: A2097',
                title: 'Держатель-ремень для наушников, синий',
                options: [
                    'Гарантия: 1 год',
                    'Тип разъема зарядки: Lightning',
                    'Версия ОС: iOs 10'
                ],
                marks: [
                    'new',
                ],
                price: 999
            },
            {
                img: 'img/home/card-image.jpg',
                article: 'Артикул: A2097',
                title: 'Держатель-ремень для наушников, синий',
                options: [
                    'Гарантия: 1 год',
                    'Тип разъема зарядки: Lightning',
                    'Версия ОС: iOs 10'
                ],
                marks: [
                    'new',
                    'recommend'
                ],
                price: 999
            },
            {
                img: 'img/home/card-image.jpg',
                article: 'Артикул: A2097',
                title: 'Держатель-ремень для наушников, синий',
                options: [
                    'Гарантия: 1 год',
                    'Тип разъема зарядки: Lightning',
                    'Версия ОС: iOs 10'
                ],
                marks: [
                    'hit'
                ],
                price: 999
            },
            {
                img: 'img/home/card-image.jpg',
                article: 'Артикул: A2097',
                title: 'Держатель-ремень для наушников, синий',
                options: [
                    'Гарантия: 1 год',
                    'Тип разъема зарядки: Lightning',
                    'Версия ОС: iOs 10'
                ],
                marks: [
                    'hit'
                ],
                price: 999
            },
            {
                img: 'img/home/card-image.jpg',
                article: 'Артикул: A2097',
                title: 'Держатель-ремень для наушников, синий',
                options: [
                    'Гарантия: 1 год',
                    'Тип разъема зарядки: Lightning',
                    'Версия ОС: iOs 10'
                ],
                marks: [
                    'hit'
                ],
                price: 999
            }
        ]
    }