-
    var products = {
    	type: 'cards',
        list: [
            {
                img: 'img/home/card-image.jpg',
                article: 'Артикул: A2097',
                title: 'Держатель-ремень для наушников, синий',
                options: [
                    'Гарантия: 1 год',
                    'Тип разъема зарядки: Lightning',
                    'Версия ОС: iOs 10'
                ],
                marks: [
                    'discount',
                    'new',
                    'hit',
                    'recommend'
                ],
                price: 999,
                priceOld: 1999
            },
            {
                img: 'img/home/card-image.jpg',
                article: 'Артикул: A2097',
                title: 'Держатель-ремень для наушников, синий',
                options: [
                    'Гарантия: 1 год',
                    'Тип разъема зарядки: Lightning',
                    'Версия ОС: iOs 10'
                ],
                marks: [
                    'discount',
                    'new',
                    'hit',
                    'recommend'
                ],
                price: 999,
                priceOld: 1999
            },
            {
                img: 'img/home/card-image.jpg',
                article: 'Артикул: A2097',
                title: 'Держатель-ремень для наушников, синий',
                options: [
                    'Гарантия: 1 год',
                    'Тип разъема зарядки: Lightning',
                    'Версия ОС: iOs 10'
                ],
                marks: [
                    'discount',
                    'new',
                    'hit',
                    'recommend'
                ],
                price: 999,
                priceOld: 1999
            }
        ]
    }
    var products = {
    	type: 'cards',
        list: [
            {
                img: 'img/home/card-image.jpg',
                article: 'Артикул: A2097',
                title: 'Держатель-ремень для наушников, синий',
                options: [
                    'Гарантия: 1 год',
                    'Тип разъема зарядки: Lightning',
                    'Версия ОС: iOs 10'
                ],
                marks: [
                    'discount',
                    'new',
                    'hit',
                    'recommend'
                ],
                price: 999,
                priceOld: 1999
            },
            {
                img: 'img/home/card-image.jpg',
                article: 'Артикул: A2097',
                title: 'Держатель-ремень для наушников, синий',
                options: [
                    'Гарантия: 1 год',
                    'Тип разъема зарядки: Lightning',
                    'Версия ОС: iOs 10'
                ],
                marks: [
                    'discount',
                    'new',
                    'hit',
                    'recommend'
                ],
                price: 999,
                priceOld: 1999
            },
            {
                img: 'img/home/card-image.jpg',
                article: 'Артикул: A2097',
                title: 'Держатель-ремень для наушников, синий',
                options: [
                    'Гарантия: 1 год',
                    'Тип разъема зарядки: Lightning',
                    'Версия ОС: iOs 10'
                ],
                marks: [
                    'discount',
                    'new',
                    'hit',
                    'recommend'
                ],
                price: 999,
                priceOld: 1999
            }
        ]
    }