-
    var breadcrumbs = [
        {
            name: 'Главная',
            link: '#'
        },
        {
            name: 'Новости',
            link: ''
        }
    ];

    var news = [
        {
            type: 'giant',
            img: 'img/news/news__img1.jpg',
            title: 'Поступление электрогрилей',
            desc: 'Готовить вкусно и быстро, это возможно!',
            date: '19.04.2019'
        },
        {
            group: [
                {
                    img: 'img/news/news__img2.jpg',
                    title: 'Поступление Xiaomi',
                    date: '19.04.2019'
                },
                {
                    img: 'img/news/news__img3.jpg',
                    title: 'Поступление детский часов с GPS',
                    date: '19.04.2019'
                },
                {
                    img: 'img/news/news__img2.jpg',
                    title: 'Поступление Xiaomi',
                    date: '19.04.2019'
                },
                {
                    img: 'img/news/news__img3.jpg',
                    title: 'Поступление детский часов с GPS',
                    date: '19.04.2019'
                },
            ]
        },
        {
            type: 'big',
            img: 'img/news/news__img6.jpg',
            title: 'Поступление аксессуаров для Sony Playstation',
            date: '19.04.2019'
        },
        {
            type: 'middle',
            img: 'img/news/news__img7.jpg',
            title: 'Поступление смарфонов Samsung',
            date: '19.04.2019'
        },
        {
            img: 'img/news/news__img8.jpg',
            title: 'Поступление акустики JBL',
            date: '19.04.2019'
        },
        {
            img: 'img/news/news__img2.jpg',
            title: 'Поступление Xiaomi',
            date: '19.04.2019'
        },
        {
            img: 'img/news/news__img3.jpg',
            title: 'Поступление детский часов с GPS',
            date: '19.04.2019'
        },
        {
            type: 'half',
            img: 'img/news/news__img10.jpg',
            title: 'Поступление квадрокоптеров DJI',
            date: '19.04.2019'
        }
    ]