body {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 16px;
}

html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main-content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

h1, h2, h3, h4, h5, h6, ul {
	padding: 0;
	margin: 0;
}

.container {
	@include container();
	//@include sm(max-width, 510px);
	//@include md(max-width, 690px);
	//@include lg(max-width, 930px);
	@include xl(max-width, 1170px);
}

.img-responsive {
	max-width: 500px;
	width: 100%;
	height: auto;
}

.main {
	padding-top: 29px;
}


.content-sidebar {
	margin-top: 58px;
	@include row-flex();

	& .content__box {
		@include col();
		@include size(9);
	}

	& .sidebar__box {
		@include col();
		@include size(3);
	}
}

h1,
.h1 {
	font-weight: 600;
	font-size: 25px;
	line-height: 29px;
	color: #474747;
	margin-bottom: 40px;
}

h3,
.h3 {
	font-weight: 600;
	font-size: 25px;
	line-height: 25px;
	color: #474747;
}