body {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	color: #585858;
	padding-bottom: 0;
	min-width: auto;
}

html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main-content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

h1, h2, h3, h4, h5, h6, ul {
	padding: 0;
	margin: 0;
}

.o-hidden {
	overflow: hidden;
}

.container {
	padding-left: 12px;
	padding-right: 12px;
	@include md-block {
		@include container();
		@include xl(max-width, 1170px);
	}

	&_no-padding-mobile {
		padding-left: 0;
		padding-right: 0;
	}
}

.img-responsive {
	max-width: 500px;
	width: 100%;
	height: auto;
}

.main {
	padding-top: 10px;
	@include md-block {
		padding-top: 29px;
	}
}



.content-sidebar {
	margin-top: 30px;
	@include row-flex();

	&_mt-50 {
		margin-top: 28px;
		@include lg-block {
			margin-top: 58px;
		}
	}

	& .content__box {
		@include col();
		@include size-lg(9);
		@include size(12);
	}

	& .content__top {
		margin-bottom: 15px;
	}

	& .sidebar__box {
		@include col();
		@include size-lg(3);
		@include size(12);
	}
}

h1,
.h1 {
	font-weight: 600;
	font-size: 22px;
	line-height: 25px;
	color: #474747;
	margin-bottom: 20px;
	@include md-block {
		margin-bottom: 40px;
		font-size: 25px;
		line-height: 29px;
	}
}

h3,
.h3 {
	font-weight: 600;
	font-size: 16px;
	line-height: 16px;
	color: #474747;
	@include md-block {
		font-size: 25px;
		line-height: 25px;
	}
}

body .bx_vertical_menu_advanced > ul,
body .bx-filter .bx-filter-section {
	background: #FFFFFF;
	border: none;
	box-shadow: 1px 1px 2px rgba(34, 46, 98, 0.132);
}

body .uni-panel-sort {
	background: #fff;
	border: none;
	box-shadow: 1px 1px 2px rgba(34, 46, 98, 0.132);
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	height: auto;

	@include md-block {
		height: 44px;
		flex-wrap: nowrap;
	}

	& .sort {
		width: 100%;
		padding: 5px;
		float: none;
		@include md-block {
			width: 55%;
			box-sizing: border-box;
		}

		@include to($break_md) {
			padding-left: 0;

			& .values .value {
				margin-left: 5px;

				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
	& .view {
		width: 100%;
		padding: 5px;
		float: none;
		@include md-block {
			width: 45%;
			box-sizing: border-box;
			padding-right: 15px;
			text-align: right;
		}

		@include to($break_md) {
			padding-right: 10px;
		}

		& .views {
			@include to($break_md) {
				width: calc(40% - 10px);
				text-align: right;
			}
		}
	}

	& .sort-count {
		display: inline-block;
		padding: 0;
		width: 60%;
		margin-right: 10px;

		@include md-block {
			width: auto;
			margin-right: 10px;
		}

        @include lg-block {
          margin-right: 70px;
        }

		& .values {
			font-weight: 500;
			font-size: 12px;
			line-height: 14px;
			color: #474747;
			& .value {
				padding: 0;
				margin: 0;

				& p {
					margin-right: 4px;
				}

				& a {
					padding: 4px;

					&.ui-state-active {
						color: #0FA0D9;
					}
				}
			}
		}
	}
}

@include to(750px) {
  .adaptiv .item > .row {
    margin-left: 0;
    margin-right: 0;
  }
}
